<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event App</title>
    <script
      src="https://kit.fontawesome.com/379acff5c7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./assets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container flex justify-between-flex align-center">
        <a href="/" class="logo">Event House</a>
        <nav>
          <ul class="flex">
            <li><a href="/events/home">Home</a></li>
            <li><a href="/events/about">About</a></li>
            <li><a href="/events/new">Add Event</a></li>
            <li><a href="/events">Event List</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="padding about-sec-hero">
        <div class="container text-center flex justify-center align-center">
          <h2 class="secondary-heading">About Us</h2>
        </div>
      </section>
      <section class="about-content padding">
          <div class="container">
              <h2 class="secondary-heading text-center">About Event Manamement</h2>
              <h3 class="ternary-heading text-center">who we are & what we do</h3>
              <article class="grid grid-template-col-2 gap align-center">
                <div>
                  <p>
                    Event planning requires foresight, follow through and attention to
                    detail. You need to see the big picture as well as the tiniest of
                    details. You need Vision. Which is why we started Vision Event
                    Management. We wanted to create a company with the experience,
                    skills and knowledge to help any event, no matter how large or how
                    small, fulfill its ultimate potential. We can help fledgling
                    events get off the ground and existing events soar. We’re
                    flexible, fast, responsive and reliable. And we always bring a
                    fresh perspective. No matter what stage of the planning you’re in,
                    we’d welcome the opportunity to help you make your event the best
                    it can be.
                  </p>
                </div>
                <div class="font-0">
                  <img src="https://www.yapsody.com/wp-content/uploads/2016/06/Investment.jpg" alt="" class="img" />
                </div>
              </article>
          </div>
      </section>
    </main>
    <footer class="footer">
      <section class="contact padding">
        <div class="container flex align-center">
          <div class="flex-20 font-0">
            <a href="#" class="footer-logo"> Event House </a>
          </div>
          <div class="flex-40">
            <h3 class="footer-heading">Quick Links</h3>
            <ul class="flex">
              <li><a href="/events/home">Home</a></li>
              <li><a href="/events">Program List</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
          <div class="flex-30 flex-100">
            <div><h3 class="footer-heading">Follow Us</h3></div>
            <div>
              <a href="https://twitter.com/home" class="icon"
                ><i class="fab fa-facebook-square"></i
              ></a>
              <a href="https://www.facebook.com/" class="icon"
                ><i class="fab fa-twitter-square"></i
              ></a>
              <a href="https://github.com/ravindra-me" class="icon"
                ><i class="fab fa-github"></i
              ></a>
            </div>
          </div>
        </div>
      </section>
      <div class="copy-right">
        <small>&copy;AltCampus Services Pvt Ltd, 2018-present</small>
      </div>
    </footer>
  </body>
</html>
