<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event App</title>
    <script
      src="https://kit.fontawesome.com/379acff5c7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./assets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container flex justify-between-flex align-center">
        <a href="/" class="logo">Event House</a>
        <nav>
          <ul class="flex">
            <li><a href="/events/home">Home</a></li>
            <li><a href="/events/about">About</a></li>
            <li><a href="/events/new">Add Event</a></li>
            <li><a href="/events">Event List</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="add-event padding">
          <div class="container">
              <h2 class=" text-center secondary-heading">Enter the event details</h2>
              <form action="/events" method="POST">
                  <label for="title">title</label>
                  <input type="text" name="title" id="title"  placeholder="enter title" class="form-control">
                  <label for="summary">summary</label>
                  <textarea name="summary" id="summary" cols="30" rows="5" placeholder="discribe the summary of events" class="form-control"></textarea>
                  <label for="host">host</label>
                  <input type="text" name="host" id="host" placeholder="enter the host name" class="form-control">
                  <label for="start-date">starting date of event</label>
                  <input type="date" name="start_date" placeholder="enter starting date" id="start-date" class="form-control">
                  <label for="end-date">end date of event</label>
                  <input type="date" name="end_date" placeholder="enter the end date" id="end-date" class="form-control">
                  <label for="category">enter the categorys likes programming, sports, trekking</label>
                  <input type="text" name="category" id="category" placeholder="enter categorys" class="form-control">
                  <label for="location">enter the location</label>
                  <input type="text" name="location" id="location" placeholder="enter the location" class="form-control">
                  <button type="submit" class="btn form-control">submit</button>
              </form>
          </div>
      </section>
    </main>
    <footer class="footer">
      <section class="contact padding">
        <div class="container flex align-center">
          <div class="flex-20 font-0">
            <a href="#" class="footer-logo"> Event House </a>
          </div>
          <div class="flex-40">
            <h3 class="footer-heading">Quick Links</h3>
            <ul class="flex">
              <li><a href="/events/home">Home</a></li>
              <li><a href="/events">Program List</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
          <div class="flex-30 flex-100">
            <div><h3 class="footer-heading">Follow Us</h3></div>
            <div>
              <a href="https://twitter.com/home" class="icon"
                ><i class="fab fa-facebook-square"></i
              ></a>
              <a href="https://www.facebook.com/" class="icon"
                ><i class="fab fa-twitter-square"></i
              ></a>
              <a href="https://github.com/ravindra-me" class="icon"
                ><i class="fab fa-github"></i
              ></a>
            </div>
          </div>
        </div>
      </section>
      <div class="copy-right">
        <small>&copy;AltCampus Services Pvt Ltd, 2018-present</small>
      </div>
    </footer>
  </body>
</html>
