<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/379acff5c7.js"
      crossorigin="anonymous"
    ></script>
    <title>Event App</title>
    <link rel="stylesheet" href="./assets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container flex justify-between-flex align-center">
        <a href="/" class="logo">Event House</a>
        <nav>
          <ul class="flex">
            <li><a href="/events/home">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="/events/new">Add Event</a></li>
            <li><a href="/events">Event List</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="hero padding">
        <div class="container grid grid-template-col-2 align-center gap">
          <div>
            <h1 class="primary-heading">
              Event Based on Technology and other sector Conference
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea
              itaque consectetur sit placeat! Porro in natus, necessitatibus
              doloribus dolorem ipsam magni quidem eos repellat. Ipsum neque
              corrupti non est soluta.
            </p>
            <a href="/events/new" class="btn">Add Event</a>
          </div>
          <div class="font-0">
            <img
              class="img"
              src="https://www.socialtables.com/wp-content/uploads/2018/11/asset72X@3x.png"
              alt=""
            />
          </div>
        </div>
      </section>
      <section class="padding about-sec">
        <article class="container grid grid-template-col-2 align-center gap">
          <div class="font-0">
            <img
              class="img"
              src="https://image.freepik.com/free-vector/man-doing-graphing-presentation-through-laptop_1150-35050.jpg"
              alt=""
            />
          </div>
          <div>
            <h2 class="secondary-heading">About The Event</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Laboriosam debitis officia est voluptas animi. Id hic deserunt in
              harum nulla.
            </p>
            <a href="" class="btn">Know More</a>
          </div>
        </article>
      </section>
    </main>
    <footer class="footer">
      <section class="contact padding">
        <div class="container flex align-center">
          <div class="flex-20 font-0">
            <a href="#" class="footer-logo"> Event House </a>
          </div>
          <div class="flex-40">
            <h3 class="footer-heading">Quick Links</h3>
            <ul class="flex">
              <li><a href="#schedule-sec">Program</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#contact-sec">Contact Us</a></li>
              <li><a href="#info">Services</a></li>
            </ul>
          </div>
          <div class="flex-30 flex-100">
            <div><h3 class="footer-heading">Follow Us</h3></div>
            <div>
              <a href="https://twitter.com/home" class="icon"
                ><i class="fab fa-facebook-square"></i
              ></a>
              <a href="https://www.facebook.com/" class="icon"
                ><i class="fab fa-twitter-square"></i
              ></a>
              <a href="https://github.com/ravindra-me" class="icon"
                ><i class="fab fa-github"></i
              ></a>
            </div>
          </div>
        </div>
      </section>
      <div class="copy-right">
        <small>&copy;AltCampus Services Pvt Ltd, 2018-present</small>
      </div>
    </footer>
  </body>
</html>
